*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    display: flex;  
    justify-content: center;
    height: 100vh;

}


nav{
    background-color: rgb(32, 26, 26);
    height: 30px;
    width:100000px;
   
}


