.my-div {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
  }
  
  .my-div img {
    width: 100%;
    height: auto;
  }
  
  .my-div p {
    font-size: 18px;
    color: darkblue;
  }
  