*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px 50px; 
    padding-bottom: 20px;
    border-bottom: 1px solid #A8A8A8;
}


nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    font-size: 16px;
}

header button{
    padding: 17px 50px;
    border-radius: 100px;
    background-color: #FFCE31;
    font-size: 17px;
    font-weight: 700;
    border: none;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;

}

.hero img{
    width: 500px;
    
}

.h{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
    

}

.h p{
    font-size: 22px;
    font-weight: 300;
}
.h h2{
    font-size: 55px;
}

.h form{
    display: flex;
    flex-direction: row;
    gap: 15px;

}

form input{
    padding: 15px 45px;
    border-radius: 26px;
    border: none;
    outline: none;
    background-color: #F5F5F5;

    

}
form{
    display: flex;
    flex-direction: row;
    align-items: self-start;
}

.b{
    background-color: #FFCE31;
    outline: none;
    border: none;
    border-radius: 25px;
    padding:15px 35px;
    font-weight: 700;
    
}

form input::placeholder{
    color: #717171;

}

.NO{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
}

.NO img{
    width: 215px;
}

.NOO{
    display: flex;
    gap:45px;
}

.NOO img{
    width: 95px;
}


.text{
    display: flex;
    flex-direction: row;
    
    
}
.text h2{
    font-size: 42px;
    font-weight: 700;
}

hr{
    margin-bottom: 85px;
    background-color: #A8A8A8;
}

.hero1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;

}

.text p{
    font-size: 17px;
    font-weight: 300;
}

.str img{
    width: 465px;
    z-index: 3;
}

.cursedimages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 50px;
}

.ug img{
    width: 465px;
    z-index: 3;
}


#f1{
    z-index: 1;
     position: relative;
     top: -380px;
     left: 10px;
     width: 320px;
     
}

.rip {
    position: relative;
    top: -389px;
    left: 50px;
    
}

.rip img{
    width: 350px;


}

.str h3{
    z-index: 1;
    position: relative;
    top: 100px;
}

.ug h3{
    z-index: 1;
    position: relative;
    top: 100px;
    left: 70px;
    font-size: 26px;

}

.str h3{
    z-index: 1;
    position: relative;
    top: 100px;
    left: 70px;
    font-size: 26px;
}

.ug p{
    z-index: 1;
    position: relative;
    top: 100px;
    left: 20px;
    font-size: 15px;
    display: flex;
    text-align: center;

}

.str p{
    z-index: 1;
    position: relative;
    top: 100px;
    left: 20px;
    font-size: 15px;

}



.q{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px
}
.q img{
    width: 1000px;
    padding: 10px;
}
.q h2{
    font-size: 30px;
}
.q p{
    font-size: 10px;
}



.right{
    display: flex;
    flex-direction: row;
    gap:130px;
    
}

.right h1{
    font-size: 50px;
}


.annoyingyellowbruh{
    background-color: #FFCE31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 45px 100px;
    margin-top: 50px;

}

.annoyingyellowbruh h1{
    font-size: 50px;
    padding: 20px;
    margin-bottom: 20px;
}

.insideannoyingyellowbruh{
    display: flex;
    flex-direction: row;
    gap:20px;

}

.insideannoyingyellowbruh img{
    width: 150px;
}
.insideannoyingyellowbruh div{
    background-color: black;
    border-radius: 30px;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.DONE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px;
    
}

.annoyingtext{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.annoyingtext h3{
    font-size: 20px;
}

.ohno{
    display: flex;
    flex-direction: row;
    gap:200px;
}

.YESSS{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.YESSS div{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.yippe p{
    font-size: 15px;
}