*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: "Lexend Deca", sans-serif;
    color: hsl(215, 51%, 70%);
}


.big{
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 20px;
}


.X{
    display: flex;
    flex-direction: row;
    gap:100px
}

.x{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.p{
    opacity: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
}


.h2{
    color: hsl(0, 0%, 100%);
}

#eq{
    width: 300px;
    border-radius: 19px;
    margin-bottom: 15px;

}

.borde{
    background-color: white;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anotherx{
    display: flex;
    flex-direction: row;
}

.er{
    background-color: hsl(215, 32%, 27%);
    margin-top: 10px;
    margin-bottom: 10px;
}