*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(10, 16, 11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'UnifrakturCook', cursive;
    
}

.form{
    color: aliceblue;
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap:100px;
    

}

.form input{
    background-color: rgb(241, 241, 241);
    border: none;
    padding: 5px;
    border-radius: 10px;
}